@page "/user/{username}"
@using GymGenius.BO
@using Gymgenius.bo
@using GymGenius.WebUI.Services
@inject ApiService ApiService
@inject NavigationManager Navigation

<h3>User Details</h3>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="profile-container">
        <div class="profile-item">
            <RadzenLabel Text="Username:" Style="font-weight: bold; margin-right: 10px;" />
            <RadzenTextBox Value="@user.UserName" Style="border: none; background: transparent; font-weight: normal;" ReadOnly="true" />
        </div>

        <div class="profile-item">
            <RadzenLabel Text="First Name:" Style="font-weight: bold; margin-right: 10px;" />
            <RadzenTextBox Value="@user.FirstName" Style="border: none; background: transparent; font-weight: normal;" ReadOnly="true" />
        </div>

        <div class="profile-item">
            <RadzenLabel Text="Last Name:" Style="font-weight: bold; margin-right: 10px;" />
            <RadzenTextBox Value="@user.LastName" Style="border: none; background: transparent; font-weight: normal;" ReadOnly="true" />
        </div>

        <div class="profile-item">
            <RadzenLabel Text="Email:" Style="font-weight: bold; margin-right: 10px;" />
            <RadzenTextBox Value="@user.Email" Style="border: none; background: transparent; font-weight: normal;" ReadOnly="true" />
        </div>

        <div class="profile-item">
            <RadzenLabel Text="Age:" Style="font-weight: bold; margin-right: 10px;" />
            <RadzenTextBox Value="@user.Age.ToString()" Style="border: none; background: transparent; font-weight: normal;" ReadOnly="true" />
        </div>

        <div class="profile-item">
            <RadzenLabel Text="Is Trainer:" Style="font-weight: bold; margin-right: 10px;" />
            <RadzenTextBox Value="@user.IsTrainer.ToString()" Style="border: none; background: transparent; font-weight: normal;" ReadOnly="true" />
        </div>

        @if (program != null)
        {
            <div class="profile-item">
                <RadzenLabel Text="Training Program:" Style="font-weight: bold; margin-right: 10px;" />
            <RadzenTextBox Value="has program" Style="border: none; background: transparent; font-weight: normal;" ReadOnly="true" />
            </div>
        }
        else
        {
            <div class="profile-item">
                <RadzenLabel Text="Training Program:" Style="font-weight: bold; margin-right: 10px;" />
                <RadzenTextBox Value="no program" Style="border: none; background: transparent; font-weight: normal;" ReadOnly="true" />
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string username { get; set; }

    private User user;

    private TrainingProgram? program;

    protected override async Task OnInitializedAsync()
    {
        user = await ApiService.GetUserAsync(username);
        program = await ApiService.GetUserProgramAsync(username);
    }
}
